<!-- views/booking.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Car - A&A Car Rentals</title>
    <link rel="stylesheet" href="/styles/styles.css"> <!-- Include the common styles -->
    <link rel="stylesheet" href="/styles/booking-styles.css">
</head>

<body>
    <header>
        <div id="logo">
            <h1>A&A Car Rentals</h1>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/booking">Book a Car</a>
            <a href="/profile">Profile</a>
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Login</a>
        </nav>
    </header>


    <section class="hero-booking">
        <div class="booking-form-container">
            <div class="booking-form">
                <h2>Make a Reservation</h2>
                <form action="/booking" method="POST">
                    <label for="pickupLocation">Pickup Location:</label>
                    <input type="text" id="pickupLocation" name="pickupLocation" placeholder="Enter pickup location" required>

                    <label for="dropoffLocation">Dropoff Location:</label>
                    <input type="text" id="dropoffLocation" name="dropoffLocation" placeholder="Enter dropoff location" required>

                    <label for="pickupDate">Pickup Date:</label>
                    <input type="date" id="pickupDate" name="pickupDate" required>

                    <label for="dropoffDate">Dropoff Date:</label>
                    <input type="date" id="dropoffDate" name="dropoffDate" required>

                    <button type="submit">Book Now</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Content specific to the booking page goes here -->
    
    <footer class="footer">
        <p>&copy; 2024 A&A Car Rental. All rights reserved.</p>
    </footer>
</body>

</html>
